set bell-style none
 "\em":"show-manpage-on-terminal\n"
 "\C-x;":"mail_open\n"
 "\C-xl":"linuxsrc\ngit-show-new\n"
 "\elu":"linux_next_update\n"
 "\C-xp":"pkgview\n"
 "\ell":"cd /home/bhaskar/git-linux/linux\ngit-search-log\ncd ~\nclear\n"
 "\enl":"cd /home/bhaskar/git-linux/linux-next\ngit-search-log\ncd ~\nclear\n"
 "\esl":"cd /home/bhaskar/git-linux/linux-stable\ngit-search-log\ncd ~\nclear\n"
 "\elr":"linux_release\n"
 "\C-xf":"vifm\ncd ~\nclear\n"
 "\ep":"play_latest_recorded_screencast\n"
 "\egp":"find_git_repos.sh\ncd ~\nclear\n"
 "\eip":"imp_scripts\nclear\n"
 "\eu":"menu_dialog.sh\nclear\n"
 "\ekp":"kill_process\nclear\n"
