[project]
	description = Collection of scripts use for infrastructure mintenance
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bhaskar Chowdhury (unixbhaskar)
[access "refs/for/refs/*"]
	read = group user/Bhaskar Chowdhury (unixbhaskar)
	push = group user/Bhaskar Chowdhury (unixbhaskar)
	label-Code-Review = -2..+2 group user/Bhaskar Chowdhury (unixbhaskar)
	label-Verified = -1..+1 group user/Bhaskar Chowdhury (unixbhaskar)
	rebase = group user/Bhaskar Chowdhury (unixbhaskar)
	removeReviewer = group user/Bhaskar Chowdhury (unixbhaskar)
	submit = group user/Bhaskar Chowdhury (unixbhaskar)
[access "refs/heads/*"]
	read = group user/Bhaskar Chowdhury (unixbhaskar)
	create = group user/Bhaskar Chowdhury (unixbhaskar)
	push = +force group user/Bhaskar Chowdhury (unixbhaskar)
	pushMerge = group user/Bhaskar Chowdhury (unixbhaskar)
[access "refs/tags/*"]
	push = +force group user/Bhaskar Chowdhury (unixbhaskar)
	pushTag = group user/Bhaskar Chowdhury (unixbhaskar)
	pushSignedTag = group user/Bhaskar Chowdhury (unixbhaskar)
