#TabsToolbar { visibility: collapse !important; }

browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,
browser[type=content-primary],browser[type=content] > html {
	    /* background: #1D1B19!important */
	    background: #002b36 !important
    }


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

#content browser {
	 margin-right: -14px !important;
	  overflow-y: hidden;
	  margin-bottom: -14px !important;
	   overflow-x: scroll;
   }

   #nav-bar {
  /* customize this value. */
  /* --navbar-margin: -38px; */
  --navbar-margin: -100px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#bookmarks-view, #historyTree {
  /* background-color: #CFB53B !important; */
  background-color: #002b36 !important;
}


